.title {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.snail_img {
  margin-bottom: 0;
}

.titleExamples {
  display: flex;
  flex-direction: row;
}

.titleExample {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.titleExampleImg {
  margin-bottom: 0px;
}

.titleExampleDesc {
  font-size: medium;
  /* top: -20px; */
}

.titleExampleCred {
  font-size: small;
  color: red;
  position: relative;
  bottom: 35px;
}